@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #2C2F33;
  }

  .blur{
    backdrop-filter: blur(1px);
    filter: blur(0.8px);
    transition: 0.5s ease;
}

  .bg-dark{
    background-position: center center;
    background-repeat: no-repeat;
    background: rgb(1,1,6);
    background: linear-gradient(90deg, rgba(1,1,6,1) 0%, rgb(18, 8, 41) 47%, rgb(31, 24, 32) 100%);
    padding-bottom:20px;
    margin-bottom: 20px; 
    background-attachment: fixed;
    background-size: cover;
    background-color:#05144d;
    }
  
  .bg-dark-new{
     background-position: center center;
     background-repeat: no-repeat;
     background: rgb(4, 4, 27);
     background: linear-gradient(60deg, rgb(23, 20, 71) 0%, rgb(61, 30, 134) 47%, rgb(23, 20, 71) 0%);
     padding-bottom:20px;
     margin-bottom: 20px; 
     background-attachment: fixed;
     background-size: cover;
     background-color:#05144d;
     }

  .back{
    background-position: center center;
    background-repeat: no-repeat;
    background: rgb(1,1,6);
    background: linear-gradient(90deg, rgba(1,1,6,1) 0%, rgba(56,28,116,1) 47%, rgba(126,0,145,1) 100%);
    padding-bottom:20px;
    margin-bottom: 20px; 
    height: 400px;
    background-attachment: fixed;
    background-size: cover;
    background-color:#05144d;
    }

  .badges{
    width: 50%;
    display: inline-block;
  }

  h2 {
    font: 33px sans-serif;
    margin-top: 30px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
  .sooncoming {
    font: 10px sans-serif;
    margin-top: 10px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.certificate-item {
  position: relative;
  display: table;
  table-layout: fixed;
  width: 100%;
  border: 2px solid #444;
  border-radius: 8px;
  margin-bottom: 20px;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.certi-logo {
  display: table-cell;
  width: 120px;
  height: 100%;
  background-color: #444;
  padding: 25px;
  vertical-align: middle;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.certi-logo img {
  display: block;
  max-width: 100%;
}

.certi-content {
  display: table-cell;
  width: 100%;
  padding: 20px 25px;
  vertical-align: middle;
}

.certi-title h4 {
  font-size: 16px;
  color: #eee;
  font-family: 'Poppins', Helvetica, sans-serif;
  font-weight: 600;
  margin: 0 0 5px;
}

.certi-id {
  font-size: .9em;
  color: #777;
}

.certi-date {
  font-size: .7em;
  color: #777;
  opacity: .7;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.certi-company {
  color: #a5a6a7;
  font-size: 13px;
  font-weight: 300;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .certificate-item {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 20%;
    border: 2px solid #444;
    border-radius: 8px;
    margin-bottom: 20px;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
}