@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #27323a;
  }

  .blur{
    backdrop-filter: blur(1px);
    filter: blur(0.8px);
    transition: 0.5s ease;
}

  .bg-dark{
    background-position: center center;
    background-repeat: no-repeat;
    background: rgb(1,1,6);
    background: linear-gradient(90deg, rgba(1,1,6,1) 0%, rgb(18, 8, 41) 47%, rgb(31, 24, 32) 100%);
    padding-bottom:20px;
    margin-bottom: 20px; 
    background-attachment: fixed;
    background-size: cover;
    background-color:#05144d;
    }
  
  .bg-dark-new{
     background-position: center center;
     background-repeat: no-repeat;
     background: rgb(4, 4, 27);
     background: linear-gradient(60deg, rgb(35, 35, 58) 30%, rgb(61, 30, 134) 47%, rgb(23, 20, 71) 70%);
     padding-bottom:20px;
     margin-bottom: 20px; 
     background-attachment: fixed;
     background-size: cover;
     background-color:#05144d;
     }

  .back{
    background-position: center center;
    background-repeat: no-repeat;
    background: rgb(1,1,6);
    background: linear-gradient(90deg, rgba(1,1,6,1) 0%, rgba(56,28,116,1) 47%, rgba(126,0,145,1) 100%);
    padding-bottom:20px;
    margin-bottom: 20px; 
    height: 400px;
    background-attachment: fixed;
    background-size: cover;
    background-color:#05144d;
    }

  .badges{
    width: 50%;
    display: inline-block;
  }

  h2 {
    font: 33px sans-serif;
    margin-top: 30px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
  .sooncoming {
    font: 10px sans-serif;
    margin-top: 10px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}